<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="HistoryDao">
    <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
       resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
     -->
    <!--<select id="queryUserById" resultType="com.zpc.mybatis.pojo.User">-->
    <!--select * from tb_user where id = #{id}-->
    <!--</select>-->

    <!--使用别名-->
    <select id="queryHistoryByUIdAndNId" resultType="entity.History">
      select
       thistory.history_id as historyId,
       thistory.user_id as userId,
       thistory.news_id as newsId,
       thistory.timestamp,
       thistory.title,
       thistory.day
       from
       news_history thistory
       where thistory.user_id = #{uid}
       and thistory.news_id = #{nid};
   </select>

    <select id="queryHistoryWithNLines" resultType="entity.History">
        select
          thistory.history_id as historyId,
          thistory.user_id as userId,
          thistory.news_id as newsId,
          thistory.timestamp,
          thistory.title,
          thistory.day
        from
          news_history thistory
          limit #{count};
    </select>

    <select id="queryHistoryAllAfterTime" resultType="entity.History">
        select
          thistory.history_id as historyId,
          thistory.user_id as userId,
          thistory.news_id as newsId,
          thistory.timestamp,
          thistory.title,
          thistory.day
        from
          news_history thistory
        where
          thistory.timestamp > #{time};
    </select>

    <select id="queryUserNumInNLines" resultType="java.lang.Integer">
        select
          count(distinct thistory.user_id)
        from
          news_history thistory
          limit #{count};
    </select>

    <insert id="insertHistory" parameterType="entity.History">
        INSERT INTO news_history (
        history_id,
        user_id,
        news_id,
        timestamp,
        title,
        day
        )
        VALUES (
        null,
        #{userId},
        #{newsId},
        #{timestamp},
        #{title},
        #{day}
        );
    </insert>

    <!--插入数据-->
    <!--<insert id="insertUser" parameterType="com.zpc.mybatis.pojo.User">-->
        <!--INSERT INTO tb_user (-->
        <!--user_name,-->
        <!--password,-->
        <!--name,-->
        <!--age,-->
        <!--sex,-->
        <!--birthday,-->
        <!--created,-->
        <!--updated-->
        <!--)-->
        <!--VALUES-->
        <!--(-->
        <!--#{userName},-->
        <!--#{password},-->
        <!--#{name},-->
        <!--#{age},-->
        <!--#{sex},-->
        <!--#{birthday},-->
        <!--now(),-->
        <!--now()-->
        <!--);-->
    <!--</insert>-->


    <!--<delete id="deleteUser">-->
        <!--delete from tb_user where id=#{id}-->
    <!--</delete>-->
</mapper>